body{
   background-image: url(./IMG_20190819_170745.jpg);
}
h1{
    color: yellow;
    font-size: 90px;
    text-decoration: underline wavy yellow;
}
div{
    font-style: italic;
    font-size: 40px;
    color: orange;
}