body{
    background-image: url(../Images/IMG_20190815_145640.jpg);
}
h1{
    color: yellow;
    font-size: 90px;
    text-decoration: underline wavy yellow;
}
div{
    font-style: italic;
    font-size: 40px;
    color: orange;
}